body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #F9F9F9;
  color: #333333;
   overflow-x: hidden;
}

header {  
  display: flex;    
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #800000; 
  width: 100%;
  overflow-x: hidden;
  color: white;
  top: 0;
  z-index: 1000;
}
img{
  width: 100px;
  height: 100px;
}
header li{
  font-family: 'Montserrat';
  font-size: 1.2rem;
}
header li:hover{
  color: #FFD700;
  transform: scale(1.2);
  font-size: 1.2rem;
  font-family: 'Montserrat';
  
}
/*see here*/
#home{
    background: 
        linear-gradient(rgba(121, 174, 196, 0.6), rgba(173, 200, 223, 0.6)),
        url("landing.jpeg") no-repeat center center/cover;
    height: 100vh;
    color: rgb(20, 2, 2);
    text-align: center;
    background-position: sticky; 
     
}

#logo{
    width: 200px;
    height: 200px;
}
header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Playfair Display';
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
   color: aqua;
}





section {
  padding: 3rem 2rem;
  text-align: center;
}


.about{
    background: 
        linear-gradient(rgba(45, 123, 153, 0.6), rgba(32, 70, 102, 0.6)),
        url("") no-repeat center center/cover;
    color: rgb(0, 0, 0);
    text-align: center;
    background-position: sticky; 
}
.about h2{
    font-family: 'Playfair Display';
  font-size: 2.2rem;
  font-size: bold;
  text-decoration: underline;
}
.about p{
     
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-style: italic;
}
.about ul{
    
    list-style: none;
    font-family: 'Playfair Display';
  font-size: 1.5rem;
  font-style: italic;
}
 .menu-toggle {
      background: #800000;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
      text-align: center;
      

      top: 160px;
      right: 0px;
      border-radius: 5px;
      z-index: 1000;
      font-size: 3rem;
    }

    /* The hidden menu */
    .menu {
      display: none;
      flex-direction: column;
      background: #800000;
      position: fixed;
      top: 230px; /* just below the button */
      right: 25px;
      width: 100px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(118, 206, 218, 0.952);
    }

    .menu a {
      color: white;
      padding: 12px;
      text-decoration: none;
      text-align: center;
      border-bottom: 1px solid #555;
    }

    .menu a:hover {
      background: #881111;
      transform: scale(1.2);
    }



#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #800000;
  color: white;
  gap: 7rem;
  height: 50px;
}
#footer ul{
  text-decoration: none;
  color: white;
  list-style: none;
  text-align: center;
  margin-top: 100px;
  
}

#first{
    display: flex;
    flex-wrap: wrap;
    
}
#first li:hover{
  transform: scale(1.5);
}
#footer #first{
  text-decoration: none;
  color: white;
  list-style: none;
  text-align: center;
  margin-top: 200px;
  display: flex;
    flex-wrap: wrap;
  
}

#footer a{
  text-decoration: none;
  color: white;
  list-style: none;
  font-weight: bold;
}
#footer a:hover{
  text-decoration: none;
   color: aqua;
}
#motto{
  height: 100px;
  margin-top: 0;
  background-color: #800000;
  color: white;
  font-family: 'Playfair Display';
  font-size: 2rem;
  font-style: italic;
  text-align: center;

}
#motto p{
  margin-top: 0;
  
}
footer {
  background: #333;
  color: white;
  font-family: 'Playfair Display';
  font-size: 1rem;
  padding: 1rem;
  height: 50px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
