body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: 
        linear-gradient(rgba(45, 123, 153, 0.6), rgba(32, 70, 102, 0.6)),
        url("") no-repeat center center/cover;
    color: rgb(0, 0, 0);
    text-align: center;
     overflow-x: hidden;
    background-position: sticky; 
    border-radius: 20px;
}
#first li:hover{
  transform: scale(1.5);
}
header {  
  display: flex;    
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #800000; 
  color: white;
   width: 100%;
   overflow-x: hidden;
 
  top: 0;
  z-index: 1000;
}
img{
  width: 70px;
  height: 70px;
}
header li{
  font-family: 'Montserrat';
  font-size: 1.2rem;
}
header li:hover{
  color: #FFD700;
  transform: scale(1.2);
  font-size: 1.2rem;
  font-family: 'Montserrat';
  
}


.container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
      background: 
        linear-gradient(rgba(45, 123, 153, 0.6), rgba(32, 70, 102, 0.6)),
        url("") no-repeat center center/cover;
    color: rgb(0, 0, 0);
    text-align: center;
    background-position: sticky; 
    border-radius: 20px;
    }

    .card {
      background: rgb(9, 127, 163);
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 158, 250, 0.945);
      transition: transform 0.2s ease;
    }

    .card:hover {
      transform: scale(1.2);
    }

    .card h3 {
      color: #0a0c0e;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .card p {
      font-size: 0.95rem;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    .date {
      font-size: 1rem;
      color: rgba(50, 119, 5, 0.829);
    }
#logo{
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}
header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Playfair Display';
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
   color: aqua;
}





section {
  padding: 3rem 2rem;
  text-align: center;
}

  .menu-toggle {
      background: #800000;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
      text-align: center;
      
      overflow-x: hidden;
      top: 150px;
      right: 0px;
      border-radius: 5px;
      z-index: 1000;
      font-size: 1.5rem;
    }

    /* The hidden menu */
    .menu {
      display: none;
      flex-direction: column;
      background: #800000;
      position: fixed;
      top: 170px; /* just below the button */
      right: 25px;
      width: 100px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .menu a {
      color: white;
      padding: 12px;
      text-decoration: none;
      text-align: center;
      border-bottom: 1px solid #555;
    }

    .menu a:hover {
      background: #881111;
    }




#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #800000;
  color: white;
  gap: 7rem;
  height: 50px;
}
#footer ul{
  text-decoration: none;
  color: white;
  list-style: none;
  text-align: center;
  margin-top: 100px;
  
}

#first{
    display: flex;
    flex-wrap: wrap;
    
}
#first li:hover{
  transform: scale(1.5);
}
#footer #first{
  text-decoration: none;
  color: white;
  list-style: none;
  text-align: center;
  margin-top: 200px;
  display: flex;
    flex-wrap: wrap;
  
}

#footer a{
  text-decoration: none;
  color: white;
  list-style: none;
  font-weight: bold;
}
#footer a:hover{
  text-decoration: none;
   color: aqua;
}
#motto{
  height: 100px;
  margin-top: 0;
  background-color: #800000;
  color: white;
  font-family: 'Playfair Display';
  font-size: 2rem;
  font-style: italic;
  text-align: center;

}
#motto p{
  margin-top: 0;
  
}
footer {
  background: #333;
  color: white;
  font-family: 'Playfair Display';
  font-size: 1rem;
  padding: 1rem;
  height: 50px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
